---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/app.css'

import type { SiteMeta } from '@/types'
import { siteConfig } from '@/site-config'

type Props = SiteMeta

const { description } = Astro.props

const siteTitle = `${siteConfig.title}`
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}

<link rel='apple-touch-icon' sizes='180x180' href='/src/assets/favicon/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/src/assets/favicon/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/src/assets/favicon/favicon-16x16.png' />
<link rel='manifest' href='/src/assets/favicon/site.webmanifest' />
<link rel='mask-icon' href='/src/assets/favicon/safari-pinned-tab.svg' color='#5bbad5' />
<meta name='msapplication-TileColor' content='#da532c' />
<meta name='theme-color' content='#ffffff' />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={siteConfig.author} name='author' />

{/* Theme Colour */}
<meta content='' name='theme-color' />

<meta content={Astro.generator} name='generator' />
